@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

#averageBox {
    margin-bottom: 0;
}

.scope {
    display: inline-block;
    border: 0;
    margin-right: 15px;
}

.scope > input {
    display: none;
}

.scope > label {
    float: right;
    color: #ddd
}

.scope > label:before {
    display: inline-block;
    font-size: 1rem;
    padding: .3rem .2rem;
    margin: 0;
    cursor: pointer;
    font-family: FontAwesome;
    content: "\f005 ";
}

.scope .half:before {
    content: "\f089 ";
    position: absolute;
    padding-right: 0;
}

.scope input:checked ~ label,
.scope label:hover, .scope label:hover ~ label {
    color: #f73c32 !important;
}

.scope input:checked + .scope label:hover,
.scope input input:checked ~ label:hover,
.scope input:checked ~ .scope label:hover ~ label,
.scope label:hover ~ input:checked ~ label {
    color: #f73c32 !important;
}